# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.python-version
.pytest_cache/
.coverage
htmlcov/

# ===== Logs =====
logs/
*.log

# ===== Environnement =====
.env
backend/.env

# ===== VS Code =====
.vscode/

# ===== Backend data (IMPORTANT) =====
backend/data/
*.mp4
*.avi
*.mov

# ===== AI Models =====
*.pt
*.pth

# ===== Angular (cache uniquement) =====
frontend/Angular/.angular/
frontend/Angular/node_modules/

# ===== Build =====
dist/
build/

# ===== OS =====
.DS_Store
Thumbs.db